@using GoSmartValue.Web.Services
@model IEnumerable<AV.Contracts.Models.Valuation.InstructionModel>
@inject CachedStorageService CachedStorage
@{
    ViewData["Title"] = "New Instructions";

    Layout = "Layouts/_ValuerLayout";
}


<div class="outer container-fluid image-container set-full-height" style="background-image:url(/valuationsIndex.jpg);">
    <div class="middle container-fluid" style="padding-top:80px">
        <div class=" inner container-fluid">
            <div class="shadow col-md-12 container-fluid">
                <div class="container-fluid" style="padding:10px">
                    <div style="padding:0;width:100%">
                        <table id="instructions" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">From</th>
                                    <th scope="col">Client Name</th>
                                    <th scope="col">Client Number</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Ward/Locality</th>
                                    <th scope="col">Plot Number</th>
                                    <th scope="col">Access Name</th>
                                    <th scope="col">Access Number</th>
                                    <th scope="col">Preferred Access Date</th>
                                    <th scope="col">Preferred Access time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var instruction in Model.OrderByDescending(i => i.CreatedDate))
                                {
                                    <tr>
                                        <th scope="row">@instruction.Issuer.FirstName @instruction.Issuer.LastName</th>
                                        <td>@instruction.ClientName</td>
                                        <td>@instruction.ClientMobileNumber</td>
                                        <td>@instruction.Location?.Name</td>
                                        <td>@instruction.Locality?.Name</td>
                                        <td>@instruction.PlotNumber</td>
                                        <td>@instruction.AccessContactName</td>
                                        <td>@instruction.AccessContactMobileNumber</td>
                                        <td>@instruction.PreferredAccessDate?.ToString("d")</td>
                                        <td>@instruction.PreferredAccessDate?.ToString("t")</td>
                                        <td class="row">
                                            @if (!@instruction.ValuerAccepted)
                                            {
                                                <div><a asp-controller="Valuer" asp-action="Accept" asp-route-id="@instruction.Id" class="col" style="color: #1a237e"><i title="Accept" class="fa fa-check"></i></a></div>
                                            }
                                            <div>
                                                <a asp-controller="Valuer" asp-action="Reject" asp-route-id="@instruction.Id" class="col-sm-2" style="color: #b71c1c"><i title="Reject" class="fa fa-times"></i></a>
                                            </div>
                                            @if (@instruction.ValuerAccepted)
                                            {
                                                <div>
                                                    <a asp-controller="Valuer" asp-action="ConfirmAppointment" asp-route-id="@instruction.Id" class="col-sm-2" style="color: #000"><i title="Confirm" class="fa fa-calendar-check"></i></a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#instructions').DataTable({
            responsive: true
		});
       
        $('.dataTables_length').addClass('bs-select');

    });
</script>
